<div class="container p-3">
  <h2 class="text-muted text-center mb-3">Our Products</h2>
  <div class="d-flex justify-content-between mt-5">
    <button class="btn btn-outline-dark" [routerLink]="['/products/0/edit']">
      Add Product
    </button>
    <input type="text" class="form-control w-25" placeholder="Search ...." />
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products; track product.id) {

      <tr>
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.quantity }}</td>
        <td>
          <i
            class="text-info mx-1 fs-4 bi bi-pencil-square"
            [routerLink]="['/products', product.id, 'edit']"
          ></i>
          <i
            class="text-warning mx-1 fs-4 bi bi-eye-fill"
            [routerLink]="['/products', product.id]"
          ></i>
          <i class="text-danger mx-1 fs-4 bi bi-trash3-fill"></i>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
