<div class="container mt-5 p-5 border">
  <h1>One Way Binding</h1>
  <!-- <h3 class="mt-4 text-muted">TrackName : {{ trackName }}</h3>
  <p class="lead">{{ flag }}</p>
  <p class="lead">Phone Number {{ 123444 }}</p>
  <p class="lead fs-3">Student Name {{ student.name }}</p>
  <p class="lead fs-3">Student Name {{ student.age }}</p>
  <p class="lead fs-3">YOur Password {{ user?.password }}</p> -->
  <!-- <img src="images/3.jpg" alt="" /> -->

  <!-- <img src="{{ imgSrc1 }}" alt="Image" />

  <img src="images/{{ imgSrc2 }}" alt="Image" /> -->

  <img [src]="imgSrc1" alt="" />
  <img [src]="imgSrc2" [alt]="pet" />
</div>
