<app-products />
<!-- <app-login />
<app-login>
  <p class="lead alert alert-light">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique nisi
    unde possimus? Magni commodi non rerum voluptatibus laudantium!
    Necessitatibus nesciunt fuga neque ipsum quis odio voluptates, libero
    praesentium labore voluptas!
  </p>
  <button class="btn btn-dark">Show More</button>
</app-login>
<app-login>
  <input type="text" placeholder="Enter Data" class="form-control" />
  <button class="btn btn-dark">Send Message</button>
</app-login> -->
