<section>
  <h2>Content Section</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste debitis, id
    pariatur harum a impedit, suscipit quisquam sunt consectetur quos commodi
    vel quibusdam cupiditate. Incidunt, suscipit praesentium. Cupiditate, ullam
    delectus.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste debitis, id
    pariatur harum a impedit, suscipit quisquam sunt consectetur quos commodi
    vel quibusdam cupiditate. Incidunt, suscipit praesentium. Cupiditate, ullam
    delectus.
  </p>
</section>
