<div class="border p-3 mt-4">
  <h3 class="text-muted text-center mb-3" #myh3>Product Details</h3>

  <p class="alert alert-warning">{{ product | json }}</p>
  <p class="lead mb-4">{{ currentDate | date : "YYYY" }}</p>
  <p>{{ "title case" | titlecase }}</p>
  <p>{{ "PET Hello at IT" | lowercase | slice : 2 }}</p>
  <p class="lead">Product Name : {{ product.name | uppercase }}</p>
  @if (previousPrice) {
  <p class="lead">
    Product Before Offer :
    <strong class="text-danger text-decoration-line-through">{{
      previousPrice
    }}</strong>
  </p>
  }
  <p class="lead">
    Product Price :
    <strong class="text-success">{{ product.price | currency }}</strong>
  </p>
</div>
