<div class="mt-5 alert alert-primary p-5 container">
  <h1>Home Page</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, possimus!
    Praesentium cupiditate nostrum qui, nesciunt mollitia voluptas, quaerat,
    optio assumenda quo sapiente cumque atque? In eveniet voluptatem quo libero
    aliquam?
  </p>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, possimus!
    Praesentium cupiditate nostrum qui, nesciunt mollitia voluptas, quaerat,
    optio assumenda quo sapiente cumque atque? In eveniet voluptatem quo libero
    aliquam?
  </p>
  <button class="btn btn-dark">Show More</button>
</div>
