<div class="mt-5 p-5 bg-dark text-light">
  <div class="container">
    <h3 class="text-warning text-center mb-5">
      Product details {{ productId }}
    </h3>

    <p class="lead">Product Name : {{ product?.name }}</p>
    <p class="lead">Product Price :{{ product?.price | currency }}</p>
    <p class="lead">Product Quantity :{{ product?.quantity }}</p>

    <div>
      <i class="text-warning bi bi-star-fill"></i>
      <i class="text-warning bi bi-star-fill"></i>
      <i class="text-warning bi bi-star-fill"></i>
      <i class="text-warning bi bi-star-fill"></i>
      <i class="text-warning bi bi-star-fill"></i>
    </div>

    <button [routerLink]="['/products']" class="btn btn-info mt-5">
      Back to Products
    </button>
  </div>
</div>
